html {
  font-size: 10px;
  background: url("./background.jpeg") bottom center;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

body,
html {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.keys {
  display: flex;
  flex-wrap: wrap;
  flex: 1;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  box-sizing: border-box;
}

.key {
  border: 0.4rem solid black;
  border-radius: 0.5rem;
  margin: 1rem;
  font-size: 1.5rem;
  padding: 1rem 0.5rem;
  transition: all 0.07s ease;
  width: 10rem;
  text-align: center;
  color: white;
  background: rgba(0, 0, 0, 0.7);
  text-shadow: 0 0 0.5rem black;
}

.playing {
  transform: scale(1.1);
  border-color: #ffc600;
  box-shadow: 0 0 1rem #ffc600;
}

kbd {
  display: block;
  font-size: 4rem;
}

.sound {
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  color: #ffc600;
}

/* Footer */
.footer {
  display: flex;
  width: 100%;
  color: #dbedf3 !important;
  background-color: #0077b6;
  text-align: center;
  justify-content: center;
  align-items: center;
  font-family: "Bubblegum Sans", cursive;
  font-size: 2rem !important;
  padding: 20px;
  position: fixed;
  bottom: 0;
  width: 100%;
}

h1 {
  font-family: "Bubblegum Sans";
  font-size: 8em;
  text-align: center;
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
